* {
    list-style:none;
    font-family: 'Titillium Web', sans-serif;
}
body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
    position: relative;
    background: url(court_kings.jpg);
    background-size:cover;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Titillium Web', sans-serif;
}
main {
    flex:1 0 auto;
}
footer {
    padding-top:0;
    text-align:right;
    background-color:#FF3366;
}
#navbar{
    background-color:#FF3366;
}
#container{
    margin:50px;
}
#a{
    height:100%;
    width:100vh;
}

img {
    height: 50px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
